@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap&subset=latin,vietnamese");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #000000;
  --color-sub: #4b5563;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Fira Code", monospace;
  }
  .nextjs-toast {
    display: none !important;
  }
}

input,
textarea,
select {
  outline: none;
}

/* Định nghĩa theme custom-tippy */
.tippy-box[data-theme~="custom-red"] {
  background-color: #fee2e2; /* đỏ nhạt */
  color: black; /* đỏ đậm cho chữ */
}

/* Triangle (mũi tên) */
.tippy-box[data-theme~="custom-red"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #fee2e2;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes feedback-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.animate-feedback-pulse {
  animation: feedback-pulse 2s ease-in-out infinite;
}
